* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    min-width: 100vw;
    min-height: 100vh;
}

body {
    display: flex;
}

.left-side {
    min-width: 25vw;
}

.right-side {
    min-width: 75vw;
}

.top-header {
    min-height: 35vh;
}

.middle {
    min-height: 30vh;
}

.bottom {
    min-height: 35vh;
}



